<header>
  <div class="logo">orangegrau</div>
  <nav>
    <button data-nav-button
            aria-expanded="false"
            aria-controls="nav-list"
    >Menu</button>
    <ul id="nav-list" hidden>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>