@use "config" as *;
@use "reset" as *;
@use "buttons" as *;
@use "corners" as *;
@use "layout" as *;

body {
  background-color: $secondary-color;
  color: $primary-color;
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5;

  @media (width >= 600px) {
    font-size: 1.2rem;
  }
}

header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.logo {
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  position: relative;
  text-indent: -9999%;
  width: 3.3rem;

  &::before,
  &::after {
    background-color: #ff6c00;
    border-radius: 100%;
    content: ' ';
    height: 2rem;
    left: 0;
    opacity: .8;
    position: absolute;
    width: 2rem;
    mix-blend-mode: multiply;
  }

  &::after {
    background-color: #222;
    left: 1.3rem;
  }
}

nav {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  gap: 2rem;

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;

    &[hidden] {
      display: none;

      @media (width >= 600px) {
        display: flex;
      }
    }

    li {
      a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  button {
    @media (width >= 600px) {
      display: none;
    }
  }
}

main {
  margin-inline: auto;
  width: min(calc(100% - 1rem), 60rem);
}

section {
  padding-block: 2rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-block: 2rem;
  width: fit-content;
}

h2 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 2.5rem;
}

footer {
  p {
    padding: 1rem;
    text-align: center;
  }
}